@import '../../assets/styles/color.css';

nav {
    border-bottom: 3px solid var(--secondary-color);
    padding: 18px 95px 18px 95px;
}

.navbar-container {
    display: flex;
    background-color: var(--primary-color);
    justify-content: space-between;
    align-items: center;
}

.navbar-container img {
    width: 112px;
    height: auto;
}

nav div ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item li {
    color: var(--secondary-color);
}