@import '../../assets/styles/color.css';

nav {
    border-bottom: 2px solid var(--secondary-color);
    padding: 18px 95px;
    max-height: 100px;
    overflow: hidden;
    background-color: var(--primary-color);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container img {
    width: 112px;
    height: auto;
    max-height: 63.86px;
}

nav div ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.nav-item:hover {
    transform: scale(1.3);
}

.nav-item li {
    color: var(--secondary-color);
}