* {
  margin: 0;
  padding: 0;
}

.header {
  min-height: 100vh;
  background-image: url(assets/images/banner.png);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;

}

/* .header-content {
  position: relative;
  width: 100%;
  height: 100%;
} */

.bottle-banner {
  min-height: 80vh;
  min-width: 90%;
  background-image: url(assets/images/bannerBottle.png);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}